
        <section class="izquierda fijo">
            <header>
                <div>
                    <ul>
                        <li>
                            <a class="navbar-link no-decoration" href="/"><i class="fa-brands fa-twitter"
                                    style="color: #ffffff; left"></i></a>
                        </li>
                        <li>
                            <a class="navbar-link no-decoration" href="/"><i class="fa-solid fa-house"
                                    style="color: #ffffff;"></i>Inicio</a>
                        </li>
                        <li>
                            <a class="navbar-link no-decoration" href="#"><i class="fa-regular fa-hashtag"
                                    style="color: #ffffff;"></i> Explorar</a><%= render "buscador", tweet: @tweet%>
                        </li>
                        <li>
                            <button type="button" class="boton no-decoration mt-5"><a class="navbar-link no-decoration"
                                    href="/tweets/new"> Twittear</a></button>
                        </li>
                    </ul>
                </div>
            </header>
        </section>