<div id="<%= dom_id tweet %>" class="mb-5 container">
  <div class="p-4">
    <p>
      <strong class= "decoration">Username:</strong>
      <span class="decoration"><%= tweet.username%></span>
    </p>

    <p>
      <strong  class= "decoration">Description:</strong>
      <span class="decoration"><%= tweet.description%></span>
    </p>
  </div>
</div>
